In [55]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualization code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the Census dataset
data = pd.read_csv("census.csv")

# Success - Display the first record
display(data.head(n=10))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [3]:
data.shape[0]

45222

In [4]:
data['income']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
5        <=50K
6        <=50K
7         >50K
8         >50K
9         >50K
10        >50K
11        >50K
12       <=50K
13       <=50K
14       <=50K
15       <=50K
16       <=50K
17       <=50K
18        >50K
19        >50K
20       <=50K
21       <=50K
22       <=50K
23       <=50K
24        >50K
25       <=50K
26       <=50K
27       <=50K
28       <=50K
29       <=50K
         ...
45192    <=50K
45193    <=50K
45194     >50K
45195     >50K
45196    <=50K
45197     >50K
45198     >50K
45199    <=50K
45200    <=50K
45201    <=50K
45202    <=50K
45203    <=50K
45204     >50K
45205    <=50K
45206    <=50K
45207    <=50K
45208    <=50K
45209    <=50K
45210    <=50K
45211    <=50K
45212    <=50K
45213    <=50K
45214    <=50K
45215    <=50K
45216    <=50K
45217    <=50K
45218    <=50K
45219    <=50K
45220    <=50K
45221     >50K
Name: income, Length: 45222, dtype: object

In [5]:
np.sum(data['income'] == '>50K')

11208

In [6]:
np.sum(data['income'] == '<=50K')

34014

In [7]:
data

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
12,23,Private,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
13,32,Private,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K
14,34,Private,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,<=50K
16,32,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K
17,38,Private,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K
19,40,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
20,54,Private,HS-grad,9.0,Separated,Other-service,Unmarried,Black,Female,0.0,0.0,20.0,United-States,<=50K
21,35,Federal-gov,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
22,43,Private,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,2042.0,40.0,United-States,<=50K
23,59,Private,HS-grad,9.0,Divorced,Tech-support,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
24,56,Local-gov,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
25,19,Private,HS-grad,9.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
26,39,Private,HS-grad,9.0,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,0.0,80.0,United-States,<=50K
27,49,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
28,23,Local-gov,Assoc-acdm,12.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,52.0,United-States,<=50K
29,20,Private,Some-college,10.0,Never-married,Sales,Own-child,Black,Male,0.0,0.0,44.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45192,25,Private,HS-grad,9.0,Divorced,Machine-op-inspct,Not-in-family,Black,Male,0.0,0.0,40.0,United-States,<=50K
45193,31,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
45194,49,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,Canada,>50K
45195,60,Private,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K
45196,39,Private,Bachelors,13.0,Never-married,Tech-support,Not-in-family,White,Female,0.0,1669.0,40.0,United-States,<=50K
45197,38,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
45198,43,Local-gov,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K
45199,23,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45200,73,Self-emp-inc,Some-college,10.0,Divorced,Exec-managerial,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K
45201,35,Private,Some-college,10.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45202,66,Private,HS-grad,9.0,Widowed,Sales,Other-relative,White,Female,0.0,0.0,8.0,United-States,<=50K
45203,27,Private,Some-college,10.0,Never-married,Sales,Not-in-family,White,Female,0.0,0.0,45.0,United-States,<=50K
45204,40,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024.0,0.0,55.0,United-States,>50K
45205,51,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45206,22,Private,Some-college,10.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45207,64,Self-emp-not-inc,HS-grad,9.0,Widowed,Farming-fishing,Not-in-family,White,Male,0.0,0.0,32.0,United-States,<=50K
45208,55,Private,HS-grad,9.0,Separated,Priv-house-serv,Not-in-family,White,Female,0.0,0.0,32.0,United-States,<=50K
45209,38,Private,Assoc-voc,11.0,Never-married,Adm-clerical,Unmarried,Black,Female,0.0,0.0,40.0,United-States,<=50K
45210,58,Private,Assoc-acdm,12.0,Divorced,Prof-specialty,Not-in-family,White,Male,0.0,0.0,36.0,United-States,<=50K
45211,32,Private,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45212,48,Private,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45213,61,Private,HS-grad,9.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,48.0,United-States,<=50K
45214,31,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45215,25,Private,HS-grad,9.0,Never-married,Other-service,Own-child,White,Female,0.0,0.0,40.0,United-States,<=50K
45216,48,Local-gov,Masters,14.0,Divorced,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
45217,33,Private,Bachelors,13.0,Never-married,Prof-specialty,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45218,39,Private,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K
45219,38,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
45220,44,Private,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K
45221,35,Self-emp-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K

In [8]:
data['age'].max()

90

In [9]:
data['age'].min()

17

In [10]:
(39-17)/(90-17)

0.3013698630136986

In [11]:
data['income'] == '>50K'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8         True
9         True
10        True
11        True
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
45192    False
45193    False
45194     True
45195     True
45196    False
45197     True
45198     True
45199    False
45200    False
45201    False
45202    False
45203    False
45204     True
45205    False
45206    False
45207    False
45208    False
45209    False
45210    False
45211    False
45212    False
45213    False
45214    False
45215    False
45216    False
45217    False
45218    False
45219    False
45220    False
45221     True
Name: income, Length: 45222, dtype: bool

In [12]:
income_raw = data['income']
features_raw = data.drop('income', axis = 1)

In [13]:
skewed = ['capital-gain', 'capital-loss']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))

In [14]:
# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler() # default=(0, 1)
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

# Show an example of a record with scaling applied
display(features_log_minmax_transform.head(n = 5))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.301370,State-gov,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.667492,0.0,0.397959,United-States
1,0.452055,Self-emp-not-inc,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States
2,0.287671,Private,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States
3,0.493151,Private,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States
4,0.150685,Private,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba

In [15]:
pd.get_dummies(features_log_minmax_transform)

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.301370,0.800000,0.667492,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.452055,0.800000,0.000000,0.000000,0.122449,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.493151,0.400000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.150685,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0.273973,0.866667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
6,0.438356,0.266667,0.000000,0.000000,0.153061,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0.479452,0.533333,0.000000,0.000000,0.448980,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8,0.191781,0.866667,0.829751,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.342466,0.800000,0.742849,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10,0.273973,0.600000,0.000000,0.000000,0.806122,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0.178082,0.800000,0.000000,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0.082192,0.800000,0.000000,0.000000,0.295918,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
13,0.205479,0.733333,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14,0.232877,0.200000,0.000000,0.000000,0.448980,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0.109589,0.533333,0.000000,0.000000,0.346939,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16,0.205479,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0.287671,0.400000,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
18,0.356164,0.866667,0.000000,0.000000,0.448980,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
19,0.315068,1.000000,0.000000,0.000000,0.602041,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
20,0.506849,0.533333,0.000000,0.000000,0.193878,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0.246575,0.266667,0.000000,0.000000,0.397959,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,0.356164,0.400000,0.000000,0.909617,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
23,0.575342,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
24,0.534247,0.800000,0.000000,0.000000,0.397959,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,0.027397,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
26,0.301370,0.533333,0.000000,0.000000,0.806122,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
27,0.438356,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
28,0.082192,0.733333,0.000000,0.000000,0.520408,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,0.041096,0.600000,0.000000,0.000000,0.438776,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45192,0.109589,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45193,0.191781,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45194,0.438356,0.533333,0.000000,0.000000,0.397959,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45195,0.589041,0.666667,0.777174,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45196,0.301370,0.800000,0.000000,0.885559,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45197,0.287671,0.866667,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45198,0.356164,0.866667,0.000000,0.901146,0.500000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45199,0.082192,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45200,0.767123,0.600000,0.000000,0.000000,0.397959,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
45201,0.246575,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45202,0.671233,0.533333,0.000000,0.000000,0.071429,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45203,0.136986,0.600000,0.000000,0.000000,0.448980,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45204,0.315068,0.933333,0.835363,0.000000,0.551020,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45205,0.465753,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45206,0.068493,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45207,0.643836,0.533333,0.000000,0.000000,0.316327,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45208,0.520548,0.533333,0.000000,0.000000,0.316327,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45209,0.287671,0.666667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45210,0.561644,0.733333,0.000000,0.000000,0.357143,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45211,0.205479,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45212,0.424658,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45213,0.602740,0.533333,0.000000,0.000000,0.479592,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45214,0.191781,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45215,0.109589,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45216,0.424658,0.866667,0.000000,0.000000,0.397959,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45217,0.219178,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45218,0.301370,0.800000,0.000000,0.000000,0.357143,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45219,0.287671,0.800000,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45220,0.369863,0.800000,0.747375,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45221,0.246575,0.800000,0.000000,0.000000,0.602041,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
income_raw == '<=50K'

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7        False
8        False
9        False
10       False
11       False
12        True
13        True
14        True
15        True
16        True
17        True
18       False
19       False
20        True
21        True
22        True
23        True
24       False
25        True
26        True
27        True
28        True
29        True
         ...
45192     True
45193     True
45194    False
45195    False
45196     True
45197    False
45198    False
45199     True
45200     True
45201     True
45202     True
45203     True
45204    False
45205     True
45206     True
45207     True
45208     True
45209     True
45210     True
45211     True
45212     True
45213     True
45214     True
45215     True
45216     True
45217     True
45218     True
45219     True
45220     True
45221    False
Name: income, Length: 45222, dtype: bool

In [17]:
income_raw == '>50K'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8         True
9         True
10        True
11        True
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
45192    False
45193    False
45194     True
45195     True
45196    False
45197     True
45198     True
45199    False
45200    False
45201    False
45202    False
45203    False
45204     True
45205    False
45206    False
45207    False
45208    False
45209    False
45210    False
45211    False
45212    False
45213    False
45214    False
45215    False
45216    False
45217    False
45218    False
45219    False
45220    False
45221     True
Name: income, Length: 45222, dtype: bool

In [18]:
(income_raw == '>50K').astype(int)

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        1
9        1
10       1
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       1
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
45192    0
45193    0
45194    1
45195    1
45196    0
45197    1
45198    1
45199    0
45200    0
45201    0
45202    0
45203    0
45204    1
45205    0
45206    0
45207    0
45208    0
45209    0
45210    0
45211    0
45212    0
45213    0
45214    0
45215    0
45216    0
45217    0
45218    0
45219    0
45220    0
45221    1
Name: income, Length: 45222, dtype: int64

In [19]:
# TODO: One-hot encode the 'features_log_minmax_transform' data using pandas.get_dummies()
features_final = pd.get_dummies(features_log_minmax_transform)

# TODO: Encode the 'income_raw' data to numerical values
income = (income_raw == '>50K').astype(int)

# Print the number of features after one-hot encoding
encoded = list(features_final.columns)

In [20]:
np.square(0.5)

0.25

In [21]:
# Import train_test_split
from sklearn.cross_validation import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_final, 
                                                    income, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 36177 samples.
Testing set has 9045 samples.

In [33]:
X_train[:300].shape

(300, 103)

In [26]:
y_train[:300].shape

(300,)

In [54]:
# TODO: Import two metrics from sklearn - fbeta_score and accuracy_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import accuracy_score

def train_predict(learner, sample_size, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    sample_size = int(X_train.shape[0] * (sample_size / 100))
    
    # TODO: Fit the learner to the training data using slicing with 'sample_size' using .fit(training_features[:], training_labels[:])
    start = time() # Get start time
    learner.fit(X_train[:sample_size], y_train[:sample_size])
    end = time() # Get end time
    
    # TODO: Calculate the training time
    results['train_time'] = end - start
        
    # TODO: Get the predictions on the test set(X_test),
    #       then get predictions on the first 300 training samples(X_train) using .predict()
    start = time() # Get start time
    predictions_test = learner.predict(X_test)
    predictions_train = learner.predict(X_train[:300])
    end = time() # Get end time
    
    # TODO: Calculate the total prediction time
    results['pred_time'] = end - start
            
    # TODO: Compute accuracy on the first 300 training samples which is y_train[:300]
    results['acc_train'] = accuracy_score(y_train[:300], predictions_train)
        
    # TODO: Compute accuracy on test set using accuracy_score()
    results['acc_test'] = accuracy_score(y_test, predictions_test)
    
    # TODO: Compute F-score on the the first 300 training samples using fbeta_score()
    results['f_train'] = fbeta_score(y_train[:300], predictions_train, 0.3)
        
    # TODO: Compute F-score on the test set which is y_test
    results['f_test'] = fbeta_score(y_test, predictions_test, 0.3)
       
    # Success
    print("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))
        
    # Return the results
    return results

In [37]:
from sklearn.svm import SVC
model = SVC()
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SVC trained on 36177 samples.
SVC trained on 3617 samples.
SVC trained on 361 samples.

/Users/sumitkumar1209/anaconda3/envs/udacity_projects/lib/python3.5/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [38]:
results

{1: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 0.2726168632507324,
  'train_time': 0.01938915252685547},
 10: {'acc_test': 0.83261470425649531,
  'acc_train': 0.83333333333333337,
  'f_test': 0.67125645438898451,
  'f_train': 0.67129629629629628,
  'pred_time': 1.8450260162353516,
  'train_time': 0.8176078796386719},
 100: {'acc_test': 0.83714759535655059,
  'acc_train': 0.85333333333333339,
  'f_test': 0.67447717069966051,
  'f_train': 0.71969696969696972,
  'pred_time': 15.939661979675293,
  'train_time': 84.87750911712646}}

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

LogisticRegression trained on 36177 samples.
LogisticRegression trained on 3617 samples.
LogisticRegression trained on 361 samples.

In [36]:
results

{1: {'acc_test': 0.81868435599778888,
  'acc_train': 0.85999999999999999,
  'f_test': 0.62886019090398648,
  'f_train': 0.73863636363636354,
  'pred_time': 0.0024111270904541016,
  'train_time': 0.0017139911651611328},
 10: {'acc_test': 0.8385848535102266,
  'acc_train': 0.84666666666666668,
  'f_test': 0.67750677506775059,
  'f_train': 0.703125,
  'pred_time': 0.0025560855865478516,
  'train_time': 0.01485300064086914},
 100: {'acc_test': 0.841901603095633,
  'acc_train': 0.84666666666666668,
  'f_test': 0.68316522824165538,
  'f_train': 0.69852941176470584,
  'pred_time': 0.027358055114746094,
  'train_time': 0.2896130084991455}}

In [39]:
model = SVC(kernel='linear')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SVC trained on 36177 samples.
SVC trained on 3617 samples.
SVC trained on 361 samples.

In [40]:
results

{1: {'acc_test': 0.81426202321724706,
  'acc_train': 0.8666666666666667,
  'f_test': 0.61823244302361557,
  'f_train': 0.74999999999999989,
  'pred_time': 0.1430988311767578,
  'train_time': 0.009470939636230469},
 10: {'acc_test': 0.83825317855168602,
  'acc_train': 0.85333333333333339,
  'f_test': 0.67698680911370335,
  'f_train': 0.72265625,
  'pred_time': 1.2532930374145508,
  'train_time': 0.723391056060791},
 100: {'acc_test': 0.83913764510779432,
  'acc_train': 0.85333333333333339,
  'f_test': 0.67801130907927021,
  'f_train': 0.71969696969696972,
  'pred_time': 12.810261964797974,
  'train_time': 87.88073801994324}}

In [41]:
model = SVC(kernel='poly')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

/Users/sumitkumar1209/anaconda3/envs/udacity_projects/lib/python3.5/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

SVC trained on 36177 samples.
SVC trained on 3617 samples.
SVC trained on 361 samples.

In [42]:
results

{1: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 0.1665949821472168,
  'train_time': 0.009569883346557617},
 10: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 1.6461448669433594,
  'train_time': 0.7047209739685059},
 100: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 17.161942958831787,
  'train_time': 93.33237814903259}}

In [49]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss='hinge')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

In [50]:
results

{1: {'acc_test': 0.80276395798783862,
  'acc_train': 0.84666666666666668,
  'f_test': 0.58165845867163579,
  'f_train': 0.70833333333333326,
  'pred_time': 0.0028579235076904297,
  'train_time': 0.0011210441589355469},
 10: {'acc_test': 0.8069651741293532,
  'acc_train': 0.76000000000000001,
  'f_test': 0.59813628421665699,
  'f_train': 0.47297297297297303,
  'pred_time': 0.0029458999633789062,
  'train_time': 0.0074880123138427734},
 100: {'acc_test': 0.84013266998341629,
  'acc_train': 0.85999999999999999,
  'f_test': 0.68234514739980123,
  'f_train': 0.7321428571428571,
  'pred_time': 0.006492137908935547,
  'train_time': 0.10852408409118652}}

In [45]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss='log')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

In [46]:
results

{1: {'acc_test': 0.81061359867330018,
  'acc_train': 0.86333333333333329,
  'f_test': 0.60872431600922972,
  'f_train': 0.73943661971830998,
  'pred_time': 0.0028679370880126953,
  'train_time': 0.0017399787902832031},
 10: {'acc_test': 0.79038142620232177,
  'acc_train': 0.78666666666666663,
  'f_test': 0.58428023935991391,
  'f_train': 0.57112068965517249,
  'pred_time': 0.0029020309448242188,
  'train_time': 0.011854887008666992},
 100: {'acc_test': 0.82266445550027645,
  'acc_train': 0.81333333333333335,
  'f_test': 0.63451970914657485,
  'f_train': 0.61298076923076927,
  'pred_time': 0.0059430599212646484,
  'train_time': 0.14151597023010254}}

In [51]:
model = SGDClassifier(loss='log')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)
results

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

{1: {'acc_test': 0.75323383084577111,
  'acc_train': 0.80333333333333334,
  'f_test': 0.52467207995003129,
  'f_train': 0.59734513274336287,
  'pred_time': 0.0029180049896240234,
  'train_time': 0.0015480518341064453},
 10: {'acc_test': 0.78463239358761749,
  'acc_train': 0.77666666666666662,
  'f_test': 0.46199867050742294,
  'f_train': 0.36290322580645162,
  'pred_time': 0.003058910369873047,
  'train_time': 0.008792877197265625},
 100: {'acc_test': 0.83537866224433388,
  'acc_train': 0.84666666666666668,
  'f_test': 0.66160135075091087,
  'f_train': 0.68313953488372103,
  'pred_time': 0.002959012985229492,
  'train_time': 0.11993193626403809}}

In [53]:
model = SGDClassifier(loss='hinge')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)
results

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

{1: {'acc_test': 0.80740740740740746,
  'acc_train': 0.84333333333333338,
  'f_test': 0.58973949176921847,
  'f_train': 0.71078431372549011,
  'pred_time': 0.0028378963470458984,
  'train_time': 0.0013921260833740234},
 10: {'acc_test': 0.81006080707573247,
  'acc_train': 0.81333333333333335,
  'f_test': 0.59816207184628234,
  'f_train': 0.59523809523809523,
  'pred_time': 0.0029730796813964844,
  'train_time': 0.006345033645629883},
 100: {'acc_test': 0.82498618021006076,
  'acc_train': 0.83666666666666667,
  'f_test': 0.6395492308957802,
  'f_train': 0.65860215053763438,
  'pred_time': 0.0030159950256347656,
  'train_time': 0.10634016990661621}}

In [56]:
display(data.head(10))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [57]:
display(data.groupby(['income']).mean())

              age  education-num  capital-gain  capital-loss  hours-per-week
income
<=50K   36.749427       9.630770    149.023402     54.032428       39.372023
>50K    44.006067      11.598501   3991.791667    193.487063       45.690489

In [58]:
display(data.groupby(['income']).count())

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
income,,,,,,,,,,,,,
<=50K,34014,34014,34014,34014,34014,34014,34014,34014,34014,34014,34014,34014,34014
>50K,11208,11208,11208,11208,11208,11208,11208,11208,11208,11208,11208,11208,11208

In [65]:
grouped_data = data[['income', 'workclass', 'hours-per-week', 'education-num', 'capital-gain', 'capital-loss']].groupby(['income', 'workclass']).agg(['count', 'sum', 'mean', 'median'])
display(grouped_data)

                         hours-per-week                               \
                                  count        sum       mean median
income workclass
<=50K   Federal-gov                 857    34397.0  40.136523   40.0
        Local-gov                  2185    86240.0  39.469108   40.0
        Private                   26056  1011873.0  38.834549   40.0
        Self-emp-inc                734    34058.0  46.400545   45.0
        Self-emp-not-inc           2737   118769.0  43.393862   40.0
        State-gov                  1426    53250.0  37.342216   40.0
        Without-pay                  19      613.0  32.263158   30.0
>50K    Federal-gov                 549    23858.0  43.457195   40.0
        Local-gov                   915    40443.0  44.200000   40.0
        Private                    7251   329031.0  45.377327   40.0
        Self-emp-inc                912    45902.0  50.331140   50.0
        Self-emp-not-inc           1059    49884.0  47.104816   48.0
        State-gov                   520    22881.0  44.001923   40.0
        Without-pay                   2      100.0  50.000000   50.0

                         education-num                              \
                                 count       sum       mean median
income workclass
<=50K   Federal-gov                857    8905.0  10.390898   10.0
        Local-gov                 2185   23053.0  10.550572   10.0
        Private                  26056  246040.0   9.442739    9.0
        Self-emp-inc               734    7513.0  10.235695   10.0
        Self-emp-not-inc          2737   26460.0   9.667519    9.0
        State-gov                 1426   15440.0  10.827489   10.0
        Without-pay                 19     170.0   8.947368    9.0
>50K    Federal-gov                549    6423.0  11.699454   12.0
        Local-gov                  915   11130.0  12.163934   13.0
        Private                   7251   82591.0  11.390291   11.0
        Self-emp-inc               912   10897.0  11.948465   13.0
        Self-emp-not-inc          1059   12288.0  11.603399   13.0
        State-gov                  520    6649.0  12.786538   13.0
        Without-pay                  2      18.0   9.000000    9.0

                         capital-gain                                  \
                                count         sum         mean median
income workclass
<=50K   Federal-gov               857    165731.0   193.385064    0.0
        Local-gov                2185    368278.0   168.548284    0.0
        Private                 26056   3595467.0   137.989983    0.0
        Self-emp-inc              734    132698.0   180.787466    0.0
        Self-emp-not-inc         2737    604244.0   220.768725    0.0
        State-gov                1426    195634.0   137.190743    0.0
        Without-pay                19      6830.0   359.473684    0.0
>50K    Federal-gov               549   1134095.0  2065.746812    0.0
        Local-gov                 915   2006722.0  2193.138798    0.0
        Private                  7251  25918636.0  3574.491243    0.0
        Self-emp-inc              912   8185559.0  8975.393640    0.0
        Self-emp-not-inc         1059   6230860.0  5883.720491    0.0
        State-gov                 520   1264129.0  2431.017308    0.0
        Without-pay                 2         0.0     0.000000    0.0

                         capital-loss
                                count        sum        mean median
income workclass
<=50K   Federal-gov               857    77427.0   90.346558    0.0
        Local-gov                2185   162482.0   74.362471    0.0
        Private                 26056  1311167.0   50.321116    0.0
        Self-emp-inc              734    50447.0   68.728883    0.0
        Self-emp-not-inc         2737   169141.0   61.797954    0.0
        State-gov                1426    67195.0   47.121318    0.0
        Without-pay                19        0.0    0.000000    0.0
>50K    Federal-gov               549    76080.0  138.579235    0.0
        Local-gov                 915   155892.0  170.373770    0.0
        Private                  7251  1373751.0  189.456765    0.0
        Self-emp-inc              912   223024.0  244.543860    0.0
        Self-emp-not-inc         1059   245613.0  231.929178    0.0
        State-gov                 520    92356.0  177.607692    0.0
        Without-pay                 2     1887.0  943.500000  943.5

In [66]:
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

                         hours-per-week                                \
                                  count       sum      mean    median
income workclass
<=50K   Federal-gov            0.025196  0.025685  0.144459  0.145455
        Local-gov              0.064238  0.064397  0.142057  0.145455
        Private                0.766038  0.755580  0.139773  0.145455
        Self-emp-inc           0.021579  0.025432  0.167005  0.163636
        Self-emp-not-inc       0.080467  0.088687  0.156183  0.145455
        State-gov              0.041924  0.039763  0.134402  0.145455
        Without-pay            0.000559  0.000458  0.116121  0.109091
>50K    Federal-gov            0.048983  0.046589  0.133932  0.129870
        Local-gov              0.081638  0.078975  0.136221  0.129870
        Private                0.646949  0.642514  0.139850  0.129870
        Self-emp-inc           0.081370  0.089635  0.155117  0.162338
        Self-emp-not-inc       0.094486  0.097411  0.145174  0.155844
        State-gov              0.046395  0.044681  0.135611  0.129870
        Without-pay            0.000178  0.000195  0.154096  0.162338

                         education-num                                \
                                 count       sum      mean    median
income workclass
<=50K   Federal-gov           0.025196  0.027184  0.148309  0.149254
        Local-gov             0.064238  0.070373  0.150588  0.149254
        Private               0.766038  0.751081  0.134776  0.134328
        Self-emp-inc          0.021579  0.022935  0.146094  0.149254
        Self-emp-not-inc      0.080467  0.080774  0.137985  0.134328
        State-gov             0.041924  0.047133  0.154541  0.149254
        Without-pay           0.000559  0.000519  0.127706  0.134328
>50K    Federal-gov           0.048983  0.049409  0.145169  0.142857
        Local-gov             0.081638  0.085618  0.150932  0.154762
        Private               0.646949  0.635335  0.141333  0.130952
        Self-emp-inc          0.081370  0.083826  0.148259  0.154762
        Self-emp-not-inc      0.094486  0.094526  0.143977  0.154762
        State-gov             0.046395  0.051148  0.158658  0.154762
        Without-pay           0.000178  0.000138  0.111674  0.107143

                         capital-gain                            capital-loss  \
                                count       sum      mean median        count
income workclass
<=50K   Federal-gov          0.025196  0.032696  0.138316    NaN     0.025196
        Local-gov            0.064238  0.072655  0.120551    NaN     0.064238
        Private              0.766038  0.709322  0.098695    NaN     0.766038
        Self-emp-inc         0.021579  0.026179  0.129305    NaN     0.021579
        Self-emp-not-inc     0.080467  0.119207  0.157901    NaN     0.080467
        State-gov            0.041924  0.038595  0.098123    NaN     0.041924
        Without-pay          0.000559  0.001347  0.257108    NaN     0.000559
>50K    Federal-gov          0.048983  0.025349  0.082224    NaN     0.048983
        Local-gov            0.081638  0.044853  0.087294    NaN     0.081638
        Private              0.646949  0.579317  0.142277    NaN     0.646949
        Self-emp-inc         0.081370  0.182958  0.357251    NaN     0.081370
        Self-emp-not-inc     0.094486  0.139268  0.234192    NaN     0.094486
        State-gov            0.046395  0.028255  0.096763    NaN     0.046395
        Without-pay          0.000178  0.000000  0.000000    NaN     0.000178


                               sum      mean median
income workclass
<=50K   Federal-gov       0.042129  0.230078    NaN
        Local-gov         0.088408  0.189372    NaN
        Private           0.713421  0.128148    NaN
        Self-emp-inc      0.027449  0.175026    NaN
        Self-emp-not-inc  0.092032  0.157376    NaN
        State-gov         0.036562  0.120000    NaN
        Without-pay       0.000000  0.000000    NaN
>50K    Federal-gov       0.035082  0.066116    0.0
        Local-gov         0.071886  0.081286    0.0
        Private           0.633473  0.090390    0.0
        Self-emp-inc      0.102842  0.116672    0.0
        Self-emp-not-inc  0.113259  0.110654    0.0
        State-gov         0.042588  0.084737    0.0
        Without-pay       0.000870  0.450145    1.0

In [68]:
grouped_data = data[['income', 'occupation', 'hours-per-week']].groupby(['income', 'occupation']).agg(['count'])
display(grouped_data)

                          hours-per-week
                                   count
income occupation
<=50K   Adm-clerical                4784
        Armed-Forces                  10
        Craft-repair                4665
        Exec-managerial             3117
        Farming-fishing             1308
        Handlers-cleaners           1911
        Machine-op-inspct           2605
        Other-service               4612
        Priv-house-serv              229
        Prof-specialty              3304
        Protective-serv              669
        Sales                       3953
        Tech-support                1009
        Transport-moving            1838
>50K    Adm-clerical                 756
        Armed-Forces                   4
        Craft-repair                1355
        Exec-managerial             2867
        Farming-fishing              172
        Handlers-cleaners            135
        Machine-op-inspct            365
        Other-service                196
        Priv-house-serv                3
        Prof-specialty              2704
        Protective-serv              307
        Sales                       1455
        Tech-support                 411
        Transport-moving             478

In [69]:
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

                          hours-per-week
                                   count
income occupation
<=50K   Adm-clerical            0.140648
        Armed-Forces            0.000294
        Craft-repair            0.137149
        Exec-managerial         0.091639
        Farming-fishing         0.038455
        Handlers-cleaners       0.056183
        Machine-op-inspct       0.076586
        Other-service           0.135591
        Priv-house-serv         0.006733
        Prof-specialty          0.097136
        Protective-serv         0.019668
        Sales                   0.116217
        Tech-support            0.029664
        Transport-moving        0.054037
>50K    Adm-clerical            0.067452
        Armed-Forces            0.000357
        Craft-repair            0.120896
        Exec-managerial         0.255799
        Farming-fishing         0.015346
        Handlers-cleaners       0.012045
        Machine-op-inspct       0.032566
        Other-service           0.017488
        Priv-house-serv         0.000268
        Prof-specialty          0.241256
        Protective-serv         0.027391
        Sales                   0.129818
        Tech-support            0.036670
        Transport-moving        0.042648

In [70]:
grouped_data.groupby(level=0).sum()

       hours-per-week
                count
income
<=50K           34014
>50K            11208

In [71]:
grouped_data = data[['income', 'marital-status', 'hours-per-week']].groupby(['income', 'marital-status']).agg(['count'])
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

                              hours-per-week
                                       count
income marital-status
<=50K   Divorced                    0.165873
        Married-AF-spouse           0.000529
        Married-civ-spouse          0.337831
        Married-spouse-absent       0.014641
        Never-married               0.408567
        Separated                   0.038572
        Widowed                     0.033986
>50K    Divorced                    0.058440
        Married-AF-spouse           0.001249
        Married-civ-spouse          0.853319
        Married-spouse-absent       0.004818
        Never-married               0.062545
        Separated                   0.008833
        Widowed                     0.010796

In [73]:
grouped_data = data[['income', 'native-country', 'relationship']].groupby(['income', 'relationship']).agg(['count'])
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

                       native-country
                                count
income relationship
<=50K   Husband              0.298671
        Not-in-family        0.307932
        Other-relative       0.038190
        Own-child            0.191715
        Unmarried            0.131887
        Wife                 0.031605
>50K    Husband              0.759011
        Not-in-family        0.109565
        Other-relative       0.004461
        Own-child            0.009368
        Unmarried            0.026945
        Wife                 0.090650

In [74]:
grouped_data = data[['income', 'native-country', 'race']].groupby(['income', 'race']).agg(['count'])
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

                           native-country
                                    count
income race
<=50K   Amer-Indian-Eskimo       0.011231
        Asian-Pac-Islander       0.027459
        Black                    0.108602
        Other                    0.009055
        White                    0.843653
>50K    Amer-Indian-Eskimo       0.004729
        Asian-Pac-Islander       0.032923
        Black                    0.047645
        Other                    0.004015
        White                    0.910689

In [75]:
grouped_data = data[['income', 'native-country', 'sex']].groupby(['income', 'sex']).agg(['count'])
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

               native-country
                        count
income sex
<=50K   Female       0.382960
        Male         0.617040
>50K    Female       0.148911
        Male         0.851089

In [76]:
grouped_data = data[['income', 'native-country', 'race']].groupby(['income', 'native-country']).agg(['count'])
grouped_per_data = grouped_data / grouped_data.groupby(level=0).sum()
display(grouped_per_data)

                                        race
                                       count
income native-country
<=50K   Cambodia                    0.000500
        Canada                      0.003028
        China                       0.002264
        Columbia                    0.002293
        Cuba                        0.002911
        Dominican-Republic          0.002705
        Ecuador                     0.001088
        El-Salvador                 0.003998
        England                     0.002117
        France                      0.000588
        Germany                     0.003969
        Greece                      0.000911
        Guatemala                   0.002440
        Haiti                       0.001764
        Holand-Netherlands          0.000029
        Honduras                    0.000500
        Hong                        0.000588
        Hungary                     0.000353
        India                       0.002499
        Iran                        0.001000
        Ireland                     0.000764
        Italy                       0.001970
        Jamaica                     0.002617
        Japan                       0.001705
        Laos                        0.000559
        Mexico                      0.025166
        Nicaragua                   0.001323
        Outlying-US(Guam-USVI-etc)  0.000617
        Peru                        0.001205
        Philippines                 0.005851
...                                      ...
>50K    Germany                     0.005175
        Greece                      0.001606
        Guatemala                   0.000268
        Haiti                       0.000803
        Honduras                    0.000178
        Hong                        0.000714
        Hungary                     0.000535
        India                       0.005532
        Iran                        0.001963
        Ireland                     0.000892
        Italy                       0.002944
        Jamaica                     0.001249
        Japan                       0.002766
        Laos                        0.000178
        Mexico                      0.004193
        Nicaragua                   0.000268
        Outlying-US(Guam-USVI-etc)  0.000089
        Peru                        0.000357
        Philippines                 0.007495
        Poland                      0.001428
        Portugal                    0.001071
        Puerto-Rico                 0.001784
        Scotland                    0.000178
        South                       0.001606
        Taiwan                      0.002231
        Thailand                    0.000446
        Trinadad&Tobago             0.000178
        United-States               0.932191
        Vietnam                     0.000625
        Yugoslavia                  0.000714

[81 rows x 1 columns]

In [80]:
grouped_data = data[['income', 'age']].groupby(['income']).agg(['mean', 'median'])
display(grouped_data)

              age
             mean median
income
<=50K   36.749427     34
>50K    44.006067     43